<nav class="navbar navbar-expand-lg navbar-light bg-dark " id="homedata" *ngIf="router.url != '/register' && router.url != '/login' && router.url != '/'">
  <a class="navbar-brand m-2" style="color:white">Navbar</a>
  <a class="btn" *ngIf="isauthonticate()" routerLink="/home" style="color:white" >Home </a>
  <!-- <a class="btn" *ngIf="isauthonticate()" routerLink="/addadress"  style="color:white" >Add Address </a> -->
  <a class="btn" *ngIf="isauthonticate()" routerLink="/addresslist"  style="color:white" >Address list </a>
  <a class="btn" *ngIf="isauthonticate()" routerLink="/orderlist"  style="color:white" >Order list </a>
  <a class="btn" *ngIf="isauthonticate()" routerLink="/createorder"  style="color:white" > create Order</a>
  <a class="btn" *ngIf="isauthonticate()" routerLink="/gotocart"  style="color:white" > Goto Cart</a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto ">
          
           
    </ul>
    <ul class="navbar-nav">      
        <a class="btn btn-success m-2" *ngIf="isauthonticate()==false" routerLink="/login" >Login</a> 
        <a class="btn btn-danger m-2" *ngIf="isauthonticate()"  (click)="logout()">Logout</a> 
           
    </ul>
    
  </div>

  
</nav>
<router-outlet></router-outlet>